.container-details {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.subcontainer-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.subcontainer-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.planet-model,
.container-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-information {
    margin-bottom: 3rem;
}

.table-personalized {
    width: 100%;
    text-align: center;
}

.planet-model {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-width: 800px;
    max-height: 600px;
    pointer-events: none;
}

.planet-model img {
    margin-top: 10rem;
    width: 100%;
    height: auto;
}

.planet-model button {
    pointer-events: all;
}

.container-button {
    display: flex;
    justify-content: center;
}

.container-dataText {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: justify;
    background-color: rgba(177, 125, 233, 0.242);
    padding: 1.5rem 3rem;
    border: 1px rgb(120, 95, 203) solid;
    width: 85%;
}

.title-dataText{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(77, 77, 255);
}

.container-dataText p{
    margin: 0;
}


@media (max-width: 480px) {
    .container-dataText {
        width: 100%;
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {

    .planet-model {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }


    .planet-model img {
        margin-top: 10rem;
        width: 70%;
        height: auto;
    }

    .personalized-spinner {
        position: absolute;
        left: 50%;
        top: 30%;
    }

    .container-information {
        margin-top: 2rem;
    }

    .data-table {
        margin: 0 auto;
        width: 100%;
    }
}


/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {

    .subcontainer-page {
        margin-top: 10rem;
    }

    .container-button {
        margin-bottom: 1rem;
    }

    .planet-model {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1rem;
        margin: 0 auto;
    }

    .personalized-spinner {
        position: absolute;
        left: 50%;
        top: 30%;
    }

    .container-information {
        margin-top: 2rem;
    }

    .data-table {
        margin: 0 auto;
        width: 60%;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: rgba(131, 109, 156, 0.539);
        border-color: rgba(131, 109, 156, 0.539);
    }


}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .subcontainer-details {
        flex-direction: row;
        align-items: center;
    }

    .personalized-spinner {

        position: absolute;
        left: 35%;
        top: 47%;
    }

    .planet-model {
        margin-left: 3rem;
        min-width: 60%;
    }


    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: rgba(131, 109, 156, 0.539);
        border-color: rgba(131, 109, 156, 0.539);
    }



}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

    .subcontainer-details {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .personalized-spinner {
        position: absolute;
        left: 38%;
        top: 47%;
    }

    .planet-model {
        min-width: 60%;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: rgba(131, 109, 156, 0.539);
        border-color: rgba(131, 109, 156, 0.539);
    }


}

@media (min-width: 1920px) and (max-width: 2047px) {
    .container-details {
        flex-direction: row;
        align-items: center;
        height: 93vh;

    }

    .container-dataText{
        font-size: 1.4rem;
    }

    .subcontainer-details {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .planet-model {
        min-width: 60%;
    }


    .personalized-spinner {
        position: absolute;
        left: 40%;
        top: 45%;
    }
    

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: rgba(131, 109, 156, 0.539);
        border-color: rgba(131, 109, 156, 0.539);
    }


}


/* Extra large screens */
@media (min-width: 2048px) {
    .subcontainer-details {
        flex-direction: row;
        align-items: center;
        width: 60%;
    }
    .personalized-spinner {
        position: absolute;
        left: 45%;
        top: 47%;
    }

    .container-dataText{
        font-size: 1.4rem;
    }


    .planet-model {
        min-width: 60%;
    }


    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: rgba(131, 109, 156, 0.539);
        border-color: rgba(131, 109, 156, 0.539);
    }


}